.header {
  $root: &;

  background-color: theme-color("light");
  padding: ($gutter * 3) 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: map-get($z-index, "header");
  transition: $transition;

  @include media(md) {
    color: theme-color("special");
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &--hide {
    @include media(md) {
      padding: $gutter 0;
    }
  }

  .row {
    align-items: center;

    @include media(md) {
      align-items: center;
    }
  }

  &__brand {
    @include cssLock("margin-right", 360, 1440, ($gutter-num ($gutter-num * 2)));

    width: auto;

    img {
      max-width: 245px;

      @include media(md) {
        max-width: 100%;
      }
    }
  }

  &__hamburger {
    position: absolute;
    right: 15px;
    top: $gutter * 0.5;
    z-index: 40;

    @include media(md) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
