.button {
  &--primary {
    padding: $gutter ($gutter * 3.5);
    background-color: theme-color("light");
    border: 0;
    border-radius: $gutter * 2;
    cursor: pointer;
  }

  &--tag {
    padding: $gutter ($gutter * 1.5);
    background-color: theme-color("light");
    border-radius: $gutter * 3;
    border: ($gutter * 0.3) solid theme-color("greyy");
    cursor: pointer;

    &:hover {
      //background-color: theme-color("special");
      border-color: theme-color("special_dark");
    }
  }
}
