.image-block {
  $root: &;

  position: relative;
  background-color: theme-color("special_dark");
  color: theme-color("light");
  height: 100%;
  overflow: hidden;

  &__link {
    @include cssLock(
      "padding",
      360,
      1440,
      (($gutter-num * 1.25) ($gutter-num * 2.5))
    );

    display: flex;
    text-transform: none;
    height: 100%;
    align-items: flex-end;

    &:hover {
      text-decoration: none;
    }
  }

  &__header,
  &__content {
    position: relative;
    z-index: 20;
    transition: $transition;
  }

  &__header {
    @include cssLock(
      "margin-bottom",
      360,
      1440,
      (($gutter-num * 1.25) ($gutter-num * 2.5))
    );

    color: theme-color("greyy");
    display: flex;
    align-items: center;
  }

  &__icon {
    @include cssLock(
      "margin-right",
      360,
      1440,
      (($gutter-num * 1.25) ($gutter-num * 2.5))
    );
    @include cssLock(
      "height",
      360,
      1440,
      (($gutter-num * 2) ($gutter-num * 4))
    );

    width: auto;
    transition: $transition;
  }

  &__content {
    color: theme-color("light");
    line-height: 1.3;
    transform: translateY(calc(100% - #{$gutter * 3}));
    transition: $transition;
  }

  &__image {
    @extend %absolute;
    @extend %image;
    @extend %overlay;
    @extend %overlay-special-dark;

    z-index: 0;
    transition: $transition;

    img {
      @extend %image;
    }
  }

  &:hover {
    #{$root}__content {
      transform: translateY(0);
    }

    #{$root}__image {
      opacity: 0.6;
    }
  }
}
