.menu {
  $root: &;

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: theme-color("dark");

  @include media(sm) {
    flex-direction: row;
  }

  &__item {
    @include cssLock("margin-left", 360, 1440, (($gutter-num * 0.5) ($gutter-num * 2)));
    @include cssLock("margin-right", 360, 1440, ($gutter-num ($gutter-num * 2)));

    /** Wordpress current menu item style */
    &.current-menu-item {
      #{$root}__elem {
        text-decoration: underline;
        color: theme-color("special");
      }
    }
  }

  &__elem {
    padding: 0 $gutter;
  }
}
