.text {
  font-weight: 400;
  font-family: map-get($font-family, "main"), sans-serif;
  margin-bottom: 0;
}

.heading {
  font-family: map-get($font-family, "title"), sans-serif;
  margin-bottom: 0;
  display: block;
}

.headline {
  font-weight: 600;
  letter-spacing: $gutter * 0.2;
}

h1,
h2,
.title {
  font-weight: 600;
  line-height: 1.3;
}

h3,
.subheader {
  font-weight: 400;
}

blockquote,
.quote {
  font-weight: "light";
  font-style: italic;
}

strong,
b,
.large-body {
  line-height: 2;
}

p,
.body {
  line-height: 2;
}

.secondary-body {
  line-height: 2;
}

::placeholder,
.placeholder {
  font-style: italic;
}

.link {
  @include cssLock("font-size", 360, 1440, (10 16));

  font-weight: 600;
  transition: $transition;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: theme-color("special");
  }
}
