.text {
  font-weight: 400;
  font-family: map-get($font-family, "main"), sans-serif;
  margin-bottom: 0;
}

.heading {
  font-family: map-get($font-family, "title"), sans-serif;
  margin-bottom: 0;
  display: block;
  line-height: 1.5;
}

.headline {
  @extend .heading;

  @include cssLock(
    "font-size",
    360,
    1440,
    (($gutter-num * 2) ($gutter-num * 7))
  );

  font-weight: 600;
  letter-spacing: $gutter * 0.2;
}

h1,
h2,
.title {
  @extend .heading;

  @include cssLock(
    "font-size",
    360,
    1440,
    (($gutter-num * 1.5) ($gutter-num * 4))
  );

  font-weight: 900;
  line-height: 1.3;
}

h3,
.subheader {
  @extend .heading;

  @include cssLock(
    "font-size",
    360,
    1440,
    (($gutter-num * 1.25) ($gutter-num * 2.5))
  );

  font-weight: 400;
}

blockquote,
.quote {
  font-weight: "light";
  font-style: italic;
}

.large-body {
  @include cssLock("font-size", 360, 1440, (($gutter-num * 1.25) ($gutter-num * 5)));

  line-height: 2;
}

strong,
b,
.bold {
  font-size: inherit;
  font-weight: 600;
}

strong,
b {
  color: theme-color("special");
}

p,
.body {
  @include cssLock("font-size", 360, 1440, ($gutter-num ($gutter-num * 1.75)));

  line-height: 2;
}

.button {
  @include cssLock("font-size", 360, 1440, ($gutter-num ($gutter-num * 1.75)));

  letter-spacing: $gutter * 0.2;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 2;

  &:hover {
    text-decoration: none;
  }
}

.secondary-body {
  line-height: 2;
}

::placeholder,
.placeholder {
  font-style: italic;
}

.link {
  @include cssLock("font-size", 768, 1440, ($gutter-num ($gutter-num * 1.75)));

  font-weight: 600;
  transition: $transition;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: theme-color("special");
  }
}

pre {
  @include cssLock("font-size", 768, 1440, ($gutter-num ($gutter-num * 1.75)));

  background: theme-color("light");
}
