/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  light: #fff,
  dark: #000,
  greyy: #bdc3cf,
  special: #fc4901,
  special_dark: #03192b,
  special_light: #0a3460,
  special_extra: #51a6ff
);

$media: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px
);

$transition: 0.4s;

$font-family: (
  main: "Nunito",
  title: "Roboto"
);

$gutter: 8px;
$gutter-num: 8;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$z-index: (
  infobar: 300,
  header: 300,
  preloader: 400
);
